@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover;
    
}
.container{
    /* border: 2px solid white; */
    color: white;
    position: absolute;
    /* margin: auto; */
    top: 30%;
    left: 40%;
    
}
.container h1{
    font-size: 50px;
    /* border-bottom: 5px solid purple; */
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
}
.box{
    /* border: 2px solid purple; */
    width: 100%;
}
.box input{
    background: none;
    /* border: 2px solid rgb(196, 99, 20); */
    border-radius: 7px;
    width: 70%;
    margin: 15px 0;
    padding: 5px 19px;
    /* border: none; */
    outline: none;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Heebo', sans-serif;

}

.box i{
    width: 5%;
    text-align: center;
    /* float: left; */
    padding: 0 12px;
}
.btn{
    outline: none;
    margin: 4px 0;
    padding: 8px 53px;
    /* border: 2px solid purple; */
    border-radius: 17px;
    font-size: 24PX;
    margin: 11px 22%;
    cursor: pointer;
    background: none;
    color: white;
    font-weight: bold;
}
.btn:hover{
    color: grey;
    background: green;
    opacity: 0.5;
}